<footer id="page7">
    <div class="footer">
    <h4 class="para13">Questions? Call 000-800-040-1843</h4>
    
    <ul class="foot1">
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Help Centre</a></li>
    <li><a href="#">Privacy</a></li></ul>
    <ul class="foot2">
    <li><a href="#">Jobs</a></li>
    <li><a href="#">Cookie Preferences</a></li>
    <li><a href="#">Legal Notices</a></li></ul>
    <ul class="foot3">
    <li><a href="#">Corporate Information</a></li>
    <li><a href="#">Terms of Use</a></li>
    <li><a href="#">Contact Us</a></li></ul>
    <div class="foot4">
      <h4 class="follow">follow us</h4>
               <div class="social-links">
                   <a href="#"><i class="fab fa-facebook-f"></i></a>
                   <a href="#"><i class="fab fa-twitter"></i></a>
                   <a href="#"><i class="fab fa-instagram"></i></a>
                   
               </div>
        </div>
    

    <p class="para14">Renewed Car store India</p>
</div>
</footer>
