<div>
    <img src="https://www.acadecraft.com/images/inner-bg/About-us-Corporate-Profile.jpg" alt="" width="1500px">

</div>
<br>
<h2>THE PERFECT PRE-OWNED CAR FOR YOU</h2><br><br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="col1">
                <img src="https://www.cars24.com/js/7f7b7d5596e5e520b606dd534be627b0.svg" alt="Image" >
            </div>
            <div class="sub">
                <h3>Quality Assurance</h3>
                <p>We take care whenever we buy cars from other authorities.We check RTO,finance and service history.
                </p>
                <hr>
                <h6>What is Quality in terms of Cars?</h6>
                <p>Quality refers to the workmanship and durability of the car, its components and accessories over
                    time. Cars that are rated high on quality will experience fewer overall problems such as paint
                    peeling, rubber seals wearing, rattling noises, etc.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="col1">
                <img src="https://www.cars24.com/js/bd308e0db9e755e2cad0e5d6487e7af9.svg" alt="Image">
            </div>
            <div class="sub">
                <h3>Convenience Delivery</h3>
                <p>From home-delivering your car to handling all the paperwork, we have simplified car buying for you and it is easy way too.
                </p>
                <hr>
                <h6>How we Deliver the Car?</h6>
                <p>Taking delivery of your new car is a big occasion. While it is easy to get lost in the moment of being handed the keys to your new set of wheels, you should take care that everything is in order. An oversight on your part at the time of taking delivery could lead to some stress or inconvenience later. Here are some pointers on what to do before taking delivery.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="col1">
                <img src="https://www.cars24.com/js/7f7b7d5596e5e520b606dd534be627b0.svg" alt="Image">
            </div>
            <div class="sub">
                <h3>Quality Assurance</h3>
                <p>We take care whenever we buy cars from other authorities.We check RTO,finance and service history.
                </p>
                <hr>
                <h6>What is Quality in terms of Cars?</h6>
                <p>Quality refers to the workmanship and durability of the car, its components and accessories over
                    time. Cars that are rated high on quality will experience fewer overall problems such as paint
                    peeling, rubber seals wearing, rattling noises, etc.
                </p>
            </div>
        </div>
    </div>
</div><br>
<h2>HOW IT WORKS</h2>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="col1">
                <img src="https://static-ai.asianetnews.com/images/01ejjrx3d239463czbxvfrrnh0/cars-jpg_300x171xt.jpg" alt="Image">
            </div>
            <div class="sub">
                <h3>Book a car of your choice</h3>
                <p>Take your pick with parameters such as price, brand and type. 
                    Select a car you like by paying a refundable booking fee.
                </p>
                <hr>
                <h6>How to select a good Car?</h6>
                <p>The first set of homework that any car-buyer has to do is deciding
                     the type of car they want to buy. While there is no hard and fast rule that can help us make this decision, 
                     there are a simple set of questions that you can ask to find the most suitable fit. 
                     From the size of the car that you need to the frequency of usage of the vehicle,
                      there are certain factors that determine the type of car you would want to buy.

                </p>
            </div>
        </div>
        <div class="col">
            <div class="col1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1FNJbv2wolUiCe7lGh7Zi7DnaEMHfmc5REg&usqp=CAU" alt="Image" width="280px">
            </div>
            <div class="sub">
                <h3>Test-drive at home or hub</h3>
                <p>Go around the route suggested by the salesperson once to get acquainted with the car also, 
                    ask for a different route to feel it more.
                </p>
                <hr>
                <h6>Why Test Drive?</h6>
                <p>Never feel shy from asking for more; it is your hard earned money at stake here after all.
                     Go around the route again, and this time round, begin with feeling the steering.
                      Twirl it left and right to see how it feels and
                     whether you enjoy it and how much effort is needed to turn it quickly. </p>
            </div>
        </div>
        <div class="col">
            <div class="col1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTV_qbLAoREUpK0Bfge2a5-NahGvKIEOQd11w&usqp=CAU" alt="Image" width="340px">
            </div>
            <div class="sub">
                <h3>Like it? Buy it!</h3>
                <p>If you like any car we can start our procedure and safely we will deliver it to you. You can reject if you find any damages at the time of delivery
                </p>
                <hr>
                <h6>How we do it?</h6>
                <p>It includes a thorough checking of fluid levels, all the mechanical parts, 
                    the exterior and interior of the car, road test, scratches, etc. 
                    You should insist on getting a pre-delivery inspection done by the dealer so that any issues, 
                    major or minor, can be flagged immediately.
                </p>
            </div>
        </div>
    </div>
</div><br>
