img{
    width:98vw;
    height:90vh;
    display: block;
    margin: 5px;
}
.same:focus{
    color: black;
    height: 100vh;
    border-radius: 2px;
}

#navbar{
    display:flex;
    color: black;
    justify-content: space-evenly;
    background-color:rgb(120, 120, 221);
    margin: 10px 10px;
    border-radius: 10px;
    height:70px;
}

ul{
    display: flex;
    align-items: center;
    width: 1000px;
    justify-content: space-between;
    list-style: none;
    margin: 0;
}

a{
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bolder;
    font-size: 20px;
    color: white;

}
.renew:hover{
cursor: pointer;
}

.btn{
   
    
    
    font-size: 20px;
    border-radius: 10px;
   
    position: absolute;
    right: 30px;
    top: 22px;
}
button:hover{
    cursor: pointer;
}
li{
    height: 40px;
}
.buttn{
    margin-left: 100px;
}
