<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please enter Email And Password</h6>
                </div>
                <form >
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the Email Address">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter the Password">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary ">Login</button>
                      </form>
                      <br>
                      <a routerLink="/signup" style="color: white;">New User? Please SignUp</a>
                </form>
            </div>
        </div>
    </div>
</div>
